@import url('./partials/colors.css');
@import url('./partials/animations.css');


.banner {
  width: 100%;

  padding-block: 2.5rem;

  .scroller {
    width: 100%;
    overflow: hidden;
    padding-block: 1rem;

  }

  .rolling {
    display: flex;
    gap: 1.5rem;
    animation: rolling 2s linear infinite;
  }
}

.bg-grandient-animate {
  background: linear-gradient(45deg, var(--snitap-sky-mid), var(--snitap-joy-light));
  background-position: 0% 50%;
  background-size: 400%;

  animation: bg-gradiente 15s ease infinite;
}