@import url("./partials/typograph.css");

.gallery {
  width: 100%;
  max-width: 80rem;
  padding: 2.5rem 2rem;
  margin-inline: auto;

  header {
    text-align: center;
    margin-bottom: 2rem;

    h2 {
      font-size: 2rem;
      color: var(--snitap-joy-dark);
    }

    span {
      font: 500 0.875rem/1.5 var(--body-font), sans-serif;
    }

    img {
      width: 100%;
      height: auto;
    }


  }

  .gallery-content {
    margin-top: 2rem;
    display: grid;
    grid-template-areas:
      "img1 img2 img2"
      "img3 img3 img4";

    gap: 2.5rem;



    & figure {
      position: relative;
      border-radius: 2.5rem;
      overflow: hidden;

      &>img {
        height: 25rem;
        object-fit: cover;
        display: block;
        transition: scale 500ms ease-in-out;
      }

      &:hover {
        &>img {
          scale: 1.1;
        }

        figcaption {
          transform: translateY(0);
        }
      }

      &:nth-child(1) {
        grid-area: img1;
      }

      &:nth-child(2) {
        grid-area: img2;
      }

      &:nth-child(3) {
        grid-area: img3;
      }

      &:nth-child(4) {
        grid-area: img4;
      }
    }

    & figcaption {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      color: aliceblue;
      gap: .5rem;

      font: 600 1rem/1.5, var(--body-font);

      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 1.5rem 2rem;

      transform: translateY(100%);
      transition: transform 500ms ease-in-out;

      background-image: linear-gradient(to top,
          rgb(0 0 0 / 0.64),
          rgb(0 0 0 / 0));

      &>img {
        width: 2rem;
        aspect-ratio: 1/1;
        overflow: cover;
        border-radius: 50%;
      }
    }
  }
}