@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes slide-up {

  0%,
  22% {
    transform: translateY(0);
  }

  33%,
  55% {
    transform: translateY(-5rem);
  }

  66%,
  88% {
    transform: translateY(-10rem);

  }

  100% {}
}


@keyframes slide-in {
  50% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes aparear {
  100% {
    opacity: 1;
  }
}