@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(180deg);
  }
}

@keyframes slide-up {

  0%,
  22% {
    transform: translateY(0);
  }

  23% {

    transform: translateY(calc(-5rem - 15px));
  }

  25% {
    transform: translateY(calc(-5rem + 10px));

  }

  27% {
    transform: translateY(calc(-5rem - 5px));

  }

  29% {
    transform: translateY(calc(-5rem + 5px));
  }

  33%,
  55% {
    transform: translateY(-5rem);
  }

  57% {

    transform: translateY(calc(-10rem - 15px));
  }

  59% {
    transform: translateY(calc(-10rem + 10px));

  }

  61% {
    transform: translateY(calc(-10rem - 5px));

  }

  63% {
    transform: translateY(calc(-10rem + 5px));
  }

  66%,
  88% {
    transform: translateY(-10rem);

  }

  90% {

    transform: translateY(calc(-15rem - 15px));
  }

  92% {
    transform: translateY(calc(-15rem + 10px));

  }

  94% {
    transform: translateY(calc(-15rem - 5px));

  }

  96% {
    transform: translateY(calc(-15rem + 5px));
  }

  100% {
    transform: translateY(-15rem);
  }
}


@keyframes slide-in {
  50% {
    transform: translateX(-5px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes aparear {
  100% {
    opacity: 1;
  }
}

/*Banner Section*/

@keyframes bg-gradiente {
  50% {
    background-position: 100% 50%;
  }
}

@keyframes rolling {
  to {
    transform: translateX(-132px);
  }
}