:root {
  --snitap-sun: #FFCD1E;
  --snitap-sky-mid: #06B6D4;
  --snitap-sky-light: #67E8F9;
  --snitap-joy-mid: #DB2777;
  --snitap-joy-light: #F472B6;
  --snitap-leaf-mid: #16A34A;

  --text-color: 000000#;

  --background-color: #FAFAFA;

  --shadow-button: 0px 2px 5px rgba(0, 0, 0, 0.10),
    0px 9px 9px rgba(0, 0, 0, 0.09),
    0px 20px 12px rgba(0, 0, 0, 0.05),
    0px 36px 15px rgba(0, 0, 0, 0.01);

  --bg-grandient-animate: linear-gradient(45deg, var(--snitap-sun), var(--snitap-joy-mid), var(--snitap-sky-mid), var(--snitap-leaf-mid), var(--snitap-joy-light), var(--snitap-sky-light));
}