.contaier,
.header-nav {
  margin: 0 auto;
  max-width: 80rem;
}

.header-nav {
  margin: 0 auto;
  max-width: 80rem;

  width: 100%;
  padding: 1.25rem 0;

  display: flex;

  align-items: center;
  justify-content: space-between;
}